/*Портфолио*/

.header-page {
  border-bottom: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.block-button {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.block-button:hover,
.block-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);
}
.block-list > .item:not(:last-child) {
  margin-right: 8px;
}
.block-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.card-set > .item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.card-set .card {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
}
.card-set .card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-content {
  padding: 20px 24px;
}
.card-content > .card-heading {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-content > .card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.card-img {
  position: relative;
  overflow: hidden;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 23px;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--cubic-bezier),
    opacity 250ms var(--cubic-bezier);
}
.card:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
}
.text-overlay {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
}
